/*
    Uncomment all bellow and open this site in a new tab to see the changes
*/
/*
body {
    text-align: center;
    background-color: #7F9183;
}

h2 {
    color: #f2f2f2;
}

p {
    color: #f2f2f2;
}

#buttonDemo {
    padding: 1%;
    border: none;
    background-color: #1D2D44;
    color: #f2f2f2;
}
*/
